#hubTitle {
  text-align: center;
  padding-bottom: 50px;
}

#hubConsole {
  display:inline-block;
  position: absolute;
  width: 70%;
  left:50%;
  transform: translateX(-50%);
  background-color: Gainsboro;
}

#video {
  float: left;
  width: 50%;
  padding: 20px;
}

#songList {
  float: right;
  width: 50%;
  margin-top: -47.6px;
}

.right {
	position: relative;
	z-index: 1;
	white-space: nowrap;
}

.right a {
	position: relative;
	display: inline-block;
	/*padding: 1.5em 1.5em 1em;*/
	color: inherit;
	text-decoration: none;
	/*margin: 0 -7px;*/
}

.right a::before {
	content: ''; /* To generate the box */
	position: absolute;
	top: 0; right: 0; bottom: .5em; left: 0;
	z-index: -1;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	background: #eee;
	box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
	transform: perspective(5px) rotateX(2deg);
	transform-origin: bottom;
}

.right a {
	padding: 1.5em 1em 1em 2em;
}

.right a::before {
	transform-origin: bottom right;
}

.right a.selected {
	z-index: 2;
}

.right a.selected::before {
	background: #ddd;
}

main {
  background: #eee;
	display: block;
  left:0;
  margin-right: 20px;
  margin-top: 13.8px;
	padding: 1em;
}
