<h1 id="hubTitle">{{ hubService.currentHub.name }}</h1>
<div id="container">
  <div id="hubConsole">
    <div id="current-playing">
      <h3>Currently Playing:</h3>
      <div class="list-group-item" *ngIf="currentSong != undefined">
        <img id="current-song-thumb" src={{currentSong.thumbnail}} class="img-thumbnail" width="100" height="80"/>
        <div>
          <span>{{ currentSong.song_name }}</span><br>
          <span>{{ currentSong.username }}</span>
        </div>
      </div>
    </div>
    <mat-tab-group [(selectedIndex)]="tabIdx" (selectedTabChange)="onSelected($event)">

        <mat-tab label="Queue" (click)="onSelected('queue')" [ngClass]="{ 'selected' : isQueue }">
          <ul class="list-group">
            <!-- QUEUE -->
            <li class="list-group-item" *ngFor="let song of songs">
              <span class="pull-right">
                <button mat-raised-button
                  (click)="upvote(song)"
                  [ngClass] = "{'pressed': upIsPressed(song), 'unpressed': !upIsPressed(song)}"
                  type="button" class="vote-button">
                  <i class="glyphicon glyphicon-thumbs-up"></i>
                </button>
                <button mat-raised-button
                  (click)="downvote(song)"
                  [ngClass] = "{'pressed': downIsPressed(song), 'unpressed': !downIsPressed(song)}"
                  type="button" class="vote-button">
                  <i class="glyphicon glyphicon-thumbs-down"></i>
                </button>
                <p id="rank">{{ song.up_votes - song.down_votes }}</p>
              </span>
              <span>
                <span>{{ song.song_name }}</span><br>
                <span>{{ song.username }}</span>
              </span>
            </li>
          </ul>
        </mat-tab>

        <mat-tab label="Songs" (click)="onSelected('songs')" [ngClass]="{ 'selected' : isSongs }">
          <div id="custom-search-input">
            <div class="input-group">
              <input #searchInput type="text" class="form-control input-sm" placeholder="Search" />
              <span class="input-group-btn">
                <button (click)="onSearch(searchInput.value)"class="btn btn-info" type="button">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
            </div>
            <ul class="list-group">
              <!-- SONG SEARCH -->
              <li *ngFor="let song of ytsongs" (click)="onSongClicked( song )" class="list-group-item selectable">
                  <div class="thumbnail-text">
                    <img src={{song.thumbnail}} class="img-thumbnail" width="100" height="80"/>
                  </div>
                  <div class="text">{{ song.song_name }}</div>
              </li>
            </ul>
          </mat-tab>

          <mat-tab label="Users" (click)="onSelected('users')" [ngClass]="{ 'selected' : isUsers }">
              <ul class="list-group">
                <!-- USERS -->
                <li class="list-group-item" *ngFor="let user of hubUsers">
                  <span>{{ user.username }}</span>
                </li>
              </ul>
          </mat-tab>

      </mat-tab-group>
    </div>
  </div>
<router-outlet></router-outlet>
