#hubTitle {
  text-align: center;
  margin-bottom: 25px;
}

#hubConsoleUser {
  max-width: 900px;
  max-height: 1000px;
  margin: 20px auto 20px auto;
  padding:10px;
  background-color: Gainsboro;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
}

mat-tab-group {
  left: 0;
  margin: auto;
  flex: 1;
  min-width: 70%;
}

.user-scroll-list {
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}

#current-playing {
  margin: auto;
  margin-bottom: 10px;
  max-width: 400px;
}

#current-song-thumb {
  float: left;
  margin-right: 5px;
}

#addButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.list-group {
  line-height: 30px;
  max-width: 600px;
  margin: 5px auto;
}

.list-group-item {
  display: inline-block;
  width: 100%;
}
.thumbnail-text {
  float: left;
  margin-right: 10px;
}

.btn {
  background-color: #303f9e;
  border-width: 0px;
  height: 29px;
}

li {
  line-height: 20px;
}

.numbered {
  display: list-item!important;
  list-style-position: inside;
}

.selectable:hover {
  background: #ddd;
  cursor: pointer;
}

.input-group {
  max-width: 500px;
  margin: auto;
  margin-top: 5px;
}

#rank {
  display: inline-block;
}

.vote-button {
  min-width: 20px;
  padding: 0px 6px 0px 6px;
  margin: 2px;
}

.unpressed {
  background-color: white;
  color: #303f9e;
}

.pressed {
  background-color: #303f9e;
  color: white;
}

.mat-tab-label, .mat-tab-label-active {
  min-width: 0!important;
  padding: 0px 2px 0px 2px!important;
  margin: 0px auto 0px auto!important;
}

ol ul {
  margin-top: 5px;
}

.song-name {
  font-size: 16px;
  color: #303f9e;
}

.song-user-name {
  margin-left: 15px;
  font-style: italic;
  color: gray;
}
