#hubTitle {
  text-align: center;
  margin-bottom: 25px;
}

#hubConsole {
  /*display:inline-block;*/
  position: absolute;
  width: 70%;
  left:50%;
  transform: translateX(-50%);
  background-color: Gainsboro;
  margin-bottom: 50px;
}

#current-playing {
  width: 65%;
  left:50%;
  margin: auto;
  margin-bottom: 50px;
}

#current-song-thumb {
  float: left;
  margin-right: 5px;
}

#songsList {
  margin: auto;
  width: 90%;
  margin-top: -47.6px;
  margin-bottom: 25px;
}

#addButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.list-group {
  line-height: 30px;
}

.list-group-item {
  display: inline-block;
  width: 100%;
}
.thumbnail-text {
  float: left;
  margin-right: 10px;
}

.right {
	position: relative;
	z-index: 1;
	white-space: nowrap;
}

li {
  line-height: 20px;
}

.selectable:hover {
  background: #ddd;
  cursor: pointer;
}

.right p {
	position: relative;
	display: inline-block;
	/*padding: 1.5em 1.5em 1em;*/
	color: inherit;
	text-decoration: none;
	/*margin: 0 -7px;*/
}

.right p::before {
	content: ''; /* To generate the box */
	position: absolute;
	top: 0; right: 0; bottom: .5em; left: 0;
	z-index: -1;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	background: #eee;
	box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
	transform: perspective(5px) rotateX(2deg);
	transform-origin: bottom;
}

.right p {
	padding: 1.5em 1em 1em 2em;
}

.right p::before {
	transform-origin: bottom right;
}

.right p.selected {
	z-index: 2;
}

.right p.selected::before {
	background: #ddd;
}

.right p:hover {
  cursor: pointer;
  text-decoration: underline;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-right: 20px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    font-size: 18px;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 18px;
}

#rank {
  display: inline-block;
}

#leave-hub {
  margin-left: 20px;
}

.vote-button {
  min-width: 20px;
  padding: 0px 6px 0px 6px;
}

.unpressed {
  background-color: white;
}

.pressed {
  background-color: #F0F0F0;
}

main {
  background: #eee;
	display: block;
  left:0;
  margin-right: 20px;
  margin-top: 13.8px;
	padding: 1em;
}
