.mat-card-hub-login {
  text-align: center;
  margin: auto;
  width: 350px;
}

mat-card-header {
background-color: #303f9e;
color: white;
margin-bottom: 20px;
}

.mat-raised-button {
  background-color: #303f9e;
  color: white;
}

.center-text {
  text-align: center;
  width: 100%;
  margin-left: -15px;
}

#search-input {}
#search-button {}

.hub-search-list{}
.list-group-item{}
