<mat-drawer-container class="drawer-container">
<div class="margin">
  <mat-card class="mat-card-medals" [ngStyle]="{'padding':'0px 0px 20px 0px'}">
    <mat-card-header>
      <h2 class="center-text">Medals</h2>
    </mat-card-header>
    <mat-card-content>

      <mat-tab-group  [(slectedIndex)]="tabIdx" (selectedTabChange)="onSelected($event)">
        <mat-tab class="medal-tab" label="All">

          <p class="center-text medal-group-title">Friend Medals</p>
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of friendMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>

          <p class="center-text medal-group-title">Hub Medals</p>
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of hubMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>

          <p class="center-text medal-group-title">Voting Medals</p>
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of voteMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>

          <p class="center-text medal-group-title">Rank Medals</p>
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of rankMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>

          <p class="center-text medal-group-title">Quantity Medals</p>
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of countMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>

          <p class="center-text medal-group-title">Miscellaneous Medals</p>
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of miscMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Owned">
        </mat-tab>

        <mat-tab label="Friend">
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of friendMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Hub">
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of hubMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Vote">
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of voteMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Rank">
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of rankMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Quantity">
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of countMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Misc">
          <div class="medal-container">
            <div class="medal-item" *ngFor="let medal of miscMedals">
              <div class="const-height"><p class="medal-title">{{ medal.name }}</p></div>
              <img class="medal-pic" [src]="defaultPic"/>
              <p class="medal-score">{{ medal.score }}</p>
            </div>
          </div>
        </mat-tab> -->

      </mat-tab-group>

    </mat-card-content>
  </mat-card>
</div>
</mat-drawer-container>
