<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- <div class="navbar-header" style="width: 100%"> -->
    <a class="spacer">..</a>
    <a (click)="clearListeners()" class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">MusiQueue Home</a>
    <a *ngIf="this.auth.getCurrentUser() != null" class="navbar-brand set-right" (click)="logoutWithGoogle()">Logout</a>
    <!-- </div> -->
  </div>
</nav>
<router-outlet></router-outlet>
