<div class="centered">
	<h2>Join a Hub</h2>
	<div class="hub">Search for a Hub:</div>
	<input type="text" #Hub>
	<button >Search</button>
	<br>
	<button id="locate-button" (click)="searchLocation(); removeItem('recent-hubs-list <ul>');">Search By Location</button>
	<button id="recent-hubs-button" (click)="recentHubs(); removeItem('hub-search-list <ul>');">Find Recent Hubs</button>
	<div id="list-container">
		<ul class="hub-search-list">
			<li *ngFor="let hub of locHubs" class="list-group-item selectable">
				<a class="list-route" [routerLink]="['/hub-login', hub.name]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
					<div>
						<h4>{{ hub.name }}</h4>
						<p>Created By: {{ hub.creator }}</p>
					</div>
				</a>
			</li>
		</ul>
		<ul class = "recent-hubs-list">
			<li *ngFor="let hub of recentHubs" class="list-group-item selectable">
				<a class="list-route" [routerLink]="['/hub-login', hub.name]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
					<div>
						<h4>{{ hub.name }}</h4>
						<p>Created By: {{ hub.creator }}</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
