.centered {
  text-align: center;
}

.hub-search-list {
  width: 100%;
  line-height: 5px;
}

.recent-hubs-list {
	width: 100%;
	line-height: 5px;
}

button {
  margin: 10px;
}

.selectable:hover {
  background: #ddd;
  cursor: pointer;
}

#list-container {
  width: 50%;
  margin: auto
}

a:hover {
  color: black;
  text-decoration: none;
}
.list-route {
  color: black;
  text-decoration: none;
}
