<h1 id="hubTitle">Hub Name</h1>
<div id="container">
  <div id="hubConsole">
    <div id="video" *ngIf="hasSongs">
      <youtube-player id="player" [videoId]="id" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
    </div>
    <div id="noVideo" *ngIf="!hasSongs">
      <p id="noSongsText"> Welcome to your hub. There are currently no songs in your playlist. Go to the "Songs" tab to add songs.</p>
    </div>

    <div id="itemList">
      <div id="tabList">
        <nav class="right">
          <p (click)="onSelected('queue')" [ngClass]="{ 'selected' : isQueue }">Queue</p>
        	<p (click)="onSelected('songs')" [ngClass]="{ 'selected' : isSongs }">Songs</p>
          <p (click)="onSelected('users')" [ngClass]="{ 'selected' : isUsers }">Users</p>
        </nav>
        <div id="custom-search-input" *ngIf="isSongs">
          <div class="input-group col-sm-12">
            <input #searchInput type="text" class="form-control input-sm" placeholder="Search" />
            <span class="input-group-btn">
                <button (click)="onSearch(searchInput.value)"class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
          </div>
        </div>
        <main>


        	<ul *ngIf="isSongs" class="list-group">
            <!-- SONG SEARCH -->
            <li *ngFor="let song of ytsongs" (click)="onSongClicked( song )" class="list-group-item selectable">
                <div class="thumbnail-text">
                  <img src={{song.thumbnail}} class="img-thumbnail" width="100" height="80"/>
                </div>
                <div class="text">{{ song.song_name }}</div>
            </li>
          </ul>


          <ul *ngIf="isQueue" class="list-group">
            <!-- QUEUE -->
            <li class="list-group-item" *ngFor="let song of songs">
              <span class="pull-right">
                <button (click)="upvote(song)" type="button" class="vote">
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                </button>
                <button (click)="downvote(song)" type="butotn" class="vote">
                  <span class="glyphicon glyphicon-thumbs-down"></span>
                </button>
                <p id="rank">{{ song.up_votes - song.down_votes }}</p>
              </span>
              <span>
                <span>{{ song.song_name }}</span><br>
                <span>{{ song.username }}</span>
              </span>
            </li>
          </ul>


          <ul *ngIf="isUsers" class="list-gorup">
            <!-- USERS -->
            <li class="list-group-item" *ngFor="let user of users">
              <span class="pull-right">
                <button type="button" class="btn btn-danger">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </span>
              <span>{{ item.username }}</span>
            </li>
          </ul>


        </main>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
