#queue-list {
}
#queue-item {}
#hubTitle {
  text-align: center;
  padding-bottom: 10px;
}

#hubConsoleMain {
  max-width: 900px;
  margin: 20px auto 20px auto;
  padding: 10px;
  background-color: Gainsboro;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

#left-console {
  flex: 1;
  padding: 10px;
}

#itemList {
  flex: 1;
  padding: 10px;
  max-height: 920px;
  min-width: 350px;
}

@media (min-width: 600px) {
  #hubConsole {
    max-height: 920px;
  }
}

#video {
  float: left;
  width: 50%;
  height: 100%;
}
#player {
  width: 50%;
}

#noVideo {
	float: left;
	padding: 20px;
}

#current-playing {
  width: 100%;
  float:left;
  clear:both;
  padding-bottom: 20px;
}

#current-song-thumb {
  float: left;
  margin-right: 5px;
}

#noSongsText {
	color: red;
	font-size: 150%;
	margin: auto;
}

#addButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.scroll-list {
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

.numbered {
  display: list-item!important;
  list-style-position: inside;
}

.man-adjust {
  margin-left: -20px;
}

.list-group {
  line-height: 30px;
}

.list-group-item {
  display: inline-block;
  width: 100%;
}

.thumbnail-text {
  float: left;
  margin-right: 10px;
}

li {
  line-height: 20px;
}

.selectable:hover {
  background: #ddd;
  cursor: pointer;
}

.btn {
  background-color: #303f9e;
  border-width: 0px;
}

#rank {
  display: inline-block;
}

.vote-button {
  min-width: 20px;
  padding: 0px 6px 0px 6px;
  /*color: #303f9e;*/
  margin: 2px;
}

#removeSong {
  position: absolute;
  top: 0px;
  right: 5px;
  color: red;
}
#removeSong:hover {
  cursor: pointer;
}

.unpressed {
  background-color: white!important;
  color: #303f9e!important;
}

.pressed {
  background-color: #303f9e;
  color: white;
}

.mat-tab-label, .mat-tab-label-active {
  min-width: 0!important;
  padding: 0px 2px 0px 2px!important;
  margin: 0px auto 0px auto!important;
}

ol ul {
  margin-top: 5px!important;
}

.song-text {
  max-width: 240px!important;
}

.song-name {
  font-size: 16px;
  color: #303f9e;
}

.song-user-name {
  margin-left: 15px;
  font-style: italic;
  color: gray;
}

.message-list-container {
  min-height: 400px;
  max-height: 600px;
  background-color: white;
  margin: auto 5%;
  width: 90%;
}

.message-list {
  padding: 0;
}

.message-list-item {
  width: 75%;
  margin: 10px;
  padding: 2px 10px;
}

.message-header {
  width: 100%;
  display: inline-block;
  height: 22px;
}

.message-user {
  float: left;
}

.message-time {
  float: right;
  color: lightgray;
}

.message-text {
  margin: 0;
  padding: 0;
}

.chat-box {
  display: flex;
  flex-direction: row;
  margin: auto 20px;
}

.message-input {
  flex: 9;
}

.message-send-button {
  flex: 1;
  background-color: #303f9e;
  color: white;
  line-height: 26px;
  height: 26px;
  width: 35px!important;
  max-width: 35px!important;
  min-width: 35px!important;
  padding: 0;
}

.send-icon {
  margin-top: -2px!important;
}
