#queue-list {}
#queue-item {}
#hubTitle {
  text-align: center;
  padding-bottom: 10px;
}

#hubConsole {
  position: absolute;
  width: 70%;
  left:50%;
  transform: translateX(-50%);
  background-color: Gainsboro;
  margin-bottom: 50px;
}

#video {
  float: left;
  width: 50%;
  padding: 20px;
  height: 100%;
}
#player {
  width: 50%;
}

#left-console {
  width:50%;
  float:left;
}
#noVideo {
	float: left;
	padding: 20px;
}

#current-playing {
  width: 100%;
  margin-left: 20px;
  padding-right: 40px;
  float:left;
  clear:both;
  padding-bottom: 20px;
  padding-left: 20px;
}

#current-song-thumb {
  float: left;
  margin-right: 5px;
}

#noSongsText {
	color: red;
	font-size: 150%;
	margin: auto;
}

#itemList {
  float: right;
  width: 50%;
  margin-bottom: 25px;
  padding-right: 20px;
}

#addButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.list-group {
  line-height: 30px;
}

.list-group-item {
  display: inline-block;
  width: 100%;
  margin-left: -20px;
}

.thumbnail-text {
  float: left;
  margin-right: 10px;
}

.right {
	position: relative;
	z-index: 1;
	white-space: nowrap;
}

li {
  line-height: 20px;
}

.selectable:hover {
  background: #ddd;
  cursor: pointer;
}

input {
  left: -20px;
  top: -10px;
}

.btn {
  background-color: #303f9e;
  border-width: 0px;
}

#rank {
  display: inline-block;
}

.vote-button {
  min-width: 20px;
  padding: 0px 6px 0px 6px;
  color: #303f9e;
}

#removeSong {
  position: absolute;
  top: 0px;
  right: 5px;
  color: red;
}
#removeSong:hover {
  cursor: pointer;
}

.unpressed {
  background-color: white;
  color: #303f9e;
}

.pressed {
  background-color: #303f9e;
  color: white;
}

.mat-tab-label, .mat-tab-label-active {
  min-width: 0!important;
  padding: 0px 10px 0px 10px!important;
  margin: 0px 10px 0px 10px!important;
}

ul {
  margin-top: 5px;
}
