#queue-list {
}
#queue-item {}
#hubTitle {
  text-align: center;
  padding-bottom: 10px;
}

#hubConsole {
  max-width: 900px;
  margin: 20px auto 20px auto;
  padding: 10px;
  background-color: Gainsboro;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

#left-console {
  flex: 1;
  padding: 10px;
}

#itemList {
  flex: 1;
  padding: 10px;
  max-height: 920px;
  min-width: 350px;
}

@media (min-width: 600px) {
  #hubConsole {
    max-height: 920px;
  }
}


#video {
  float: left;
  width: 50%;
  height: 100%;
}
#player {
  width: 50%;
}

#noVideo {
	float: left;
	padding: 20px;
}

#current-playing {
  width: 100%;
  float:left;
  clear:both;
  padding-bottom: 20px;
}

#current-song-thumb {
  float: left;
  margin-right: 5px;
}

#noSongsText {
	color: red;
	font-size: 150%;
	margin: auto;
}

#addButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.scroll-list {
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}

.man-adjust {
  margin-left: -20px;
}

.list-group {
  line-height: 30px;
}

.list-group-item {
  display: inline-block;
  width: 100%;
}

.thumbnail-text {
  float: left;
  margin-right: 10px;
}

.right {
	position: relative;
	z-index: 1;
	white-space: nowrap;
}

li {
  line-height: 20px;
}

.selectable:hover {
  background: #ddd;
  cursor: pointer;
}

input {
  left: -20px;
  top: -10px;
}

.btn {
  background-color: #303f9e;
  border-width: 0px;
}

#rank {
  display: inline-block;
}

.vote-button {
  min-width: 20px;
  padding: 0px 6px 0px 6px;
  color: #303f9e;
}

#removeSong {
  position: absolute;
  top: 0px;
  right: 5px;
  color: red;
}
#removeSong:hover {
  cursor: pointer;
}

.unpressed {
  background-color: white;
  color: #303f9e;
}

.pressed {
  background-color: #303f9e;
  color: white;
}

.mat-tab-label, .mat-tab-label-active {
  min-width: 0!important;
  padding: 0px 2px 0px 2px!important;
  margin: 0px auto 0px auto!important;
}

ul {
  margin-top: 5px;
}
