<mat-card class="mat-card-create-join" [ngStyle]="{'padding':'0px 0px 20px 0px'}">
	<mat-card-header>
		<h2 class="center-text">Getting Started</h2>
	</mat-card-header>
	<mat-card-content id="content">
		<br>
		<div id="crtjoin" >
			<mat-form-field hintLabel="max 36 characters">
				<input matInput id="uname_input" placeholder="Nickname" maxlength="100" [(ngModel)]="uname" #name>
				<mat-hint align="end">{{ name.value?.length || 0 }}/36</mat-hint>
			</mat-form-field>
		</div>
		<button mat-raised-button (click)='gotoJoinHub(name.value)'>Join Hub</button>
		<button mat-raised-button (click)='gotoCreateHub(name.value)'>Create Hub</button>
	</mat-card-content>
</mat-card>
