<div id="card">
	<mat-card>
	<mat-card-header>
		<h1>Getting Started</h1>
	</mat-card-header>
	<mat-card-content id="content">
		<br>
		<div id="crtjoin" >
			<mat-form-field hintLabel="max 36 characters">
				<input matInput id="uname_input" placeholder="Nickname" maxlength="100" [(ngModel)]="uname" #name>
				<mat-hint align="end">{{ name.value?.length || 0 }}/36</mat-hint>
			</mat-form-field>
		</div>
		<button mat-raised-button color="primary" (click)='gotoJoinHub(name.value)'>Join Hub</button>
		<br>
		<br>
		<button mat-raised-button color="primary" (click)='gotoCreateHub(name.value)'>Create Hub</button>
	</mat-card-content>
</mat-card>
</div>
