<mat-drawer-container class="drawer-container">
<div class="margin">
  <mat-card class="mat-card-home" [ngStyle]="{'padding':'0px 0px 20px 0px'}">
    <mat-card-header>
      <h2 class="center-text">MusiQueue</h2>
    </mat-card-header>
    <mat-card-content>
      <img src="assets/jukebox.png">
      <br><br>
      <mat-form-field hintLabel="you can change it later!">
        <input matInput placeholder="Nickname" maxLength="36" [(ngModel)]="usname" #name>
        <mat-hint align="end">{{ name.value?.length || 0 }}/36</mat-hint>
      </mat-form-field>
      <br><br>
      <a routerLink="/create-join" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <button mat-raised-button color="primary" (click)="loginWithGoogle()">Login</button>
      </a>
    </mat-card-content>
  </mat-card>
</div>
</mat-drawer-container>
