.alpha-disclosure {
  color: red;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}


.mat-card-notifs {
  max-width: 700px;
  margin: auto;
}

mat-card-header {
   background-color: #303f9e;
   color: white;
   margin-bottom: 20px;
}

.notif-cat  {
  margin-left: 40px;
}

.mat-raised-button {
  background-color: #303f9e;
  color: white;
}

.center-text {
  text-align: center;
  width: 100%;
  margin-left: -15px;
}

.margin {
  padding: 20px;
}

.list-group {
  line-height: 30px;
  max-width: 600px;
  margin: 5px auto;
}

.list-group-item {
  display: flex;
  width: 100%;
}

.user-photo {
  max-width: 75px;
  max-height: 75px;
  flex: 2;
}

.friend-notif-text {
  flex: 7;
  margin: 0;
  padding: 0;
  height: 20px;
  line-height: 20px;
}

.buttons {
  flex: 8;
}

.resp-button {
  float: right;
  margin: 22.5px 2px;
  padding: 0;
  color: white;
  width: 30px!important;
  min-width: 30px!important;
  height: 30px;
  line-height: 30px;
}

mat-icon {
  height: 30px;
  line-height: 30px;
  margin: 0;
}

.close-button {
  background-color: red;
}

.check-button {
  background-color: green;
}

.notif-container {
  margin-bottom: 40px;
}

.medal-notif-item:hover {
  cursor: pointer;
}

.medal-notif-item {
  display: flex;
  flex-direction: row;
}

.medal-photo {
  max-width: 75px;
  max-height: 75px;
}

.medal-name {
  font-size: 20px;
  font-weight: bold;
  flex: 10;
  margin-top: 18px!important;
  width: 100%;
  text-align: center;
}

.medal-score-container {
  text-align: center;
  margin: 0;
  flex: 2;
  margin-top: 4px!important;
  margin-right: 30px!important;
}

.medal-score-text {
  font-size: 10px;
  padding: 0;
  margin: 0;
  color: gray;
}

.medal-score {
  margin: 0;
  padding: 5px;
  color: white;
  background-color: #303f9e;
  border-radius: 5px;
  line-height: 20px;
}
