<mat-drawer-container class="drawer-container">
  <div class="margin">
    <mat-card class="mat-card-user-profile">
      <div class="top">
        <div class="image-container">
          <img class="user-pic" [src]="url" height:100px>
        </div>
        <div class="profile-head-text">
          <p class="user-name">{{ this.usersService.currentUser.username }}</p>
          <p class="user-location">{{ this.usersService.currentUser.location }}</p>
        </div>
        <div *ngIf="isOwnerProfile" class="edit-button" (click)="editProfile()">
          <mat-icon class="mode-edit-icon">edit</mat-icon>
          <p class="edit-text">Edit</p>
        </div>
      </div>
      <div class="bottom">
        <div class="stats">
          <p class="stat">Upvotes: </p>
          <p class="stat">Downvotes: </p>
          <p class="stat">Medals: </p>
          <p class="stat">Score: </p>
          <p class="stat">Rank: </p>
        </div>
        <div class="top-songs">
          <p class="songs-title">{{ this.usersService.currentUser.username }}'s Favorite Songs</p>
          <ol>
            <li class="list-group-item numbered" *ngFor="let song of topSongs">
              <div class="top-song-list-item">
                <img src={{song.thumbnail}} class="img-thumbnail" width="100" height="80"/>
                <p class="song-title-text">{{ song.title }}</p>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </mat-card>
  </div>
</mat-drawer-container>
